.delete-button {
  background-color: #71b4db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dialog p {
  margin-bottom: 20px;
}

.yes-button,
.no-button {
  background-color: #2da3c7;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.no-button {
  background-color: #e28b88;
}
